body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
    width: 100%;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
}

.navigation {
    background-color: #4A46EE;
    display: flex;
    gap: 65px;
}

.nav-list {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-list a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 15px;
    padding-top: 40px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20% 20%;
}

.nav-list a:hover {
    background-color: #4690FF;
}

.logo {
    margin: 32px 0;
    margin-left: 16%;
}

.info {
    margin-top: 45px;
}

.info-article {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 5px;
    text-align: justify;
}

.info-article h2 {
    font-size: 24px;
    margin: 22px 0;
    font-weight: normal;
}

.info-article ul {
    margin: 0;
    padding-left: 25px;
}

.hero { 
    max-width: 1100px;
    margin: 0 auto;      
    margin-top: 35px;
    background-image: url('img/main-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero h1 {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    padding-top: 40px;
    margin-bottom: 205px;
}

.hero-wrapper {
    max-width: 350px;
    margin-right: 50px;
    margin-left: auto;
    padding-bottom: 181px;
}

.hero-wrapper p {
    text-align: justify;
    margin: 0;
    margin-bottom: 30px;
}

.hero-button {
    display: block;
    max-width: 170px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #4690FF;
    padding: 9px 13px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    border:rgb(15, 11, 31) 0.5px solid;
    margin-bottom: 49px;
}

.hero-button:hover {
    background-color: #4A46EE;
}

.hero-wrapper h3 {
    font-size: 16px;
    width: 120px;
    display: block;
    font-weight: normal;
    margin: 0 auto;
}

.social-media {
    max-width: 168px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.catalog-content h1 {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin: 91px 0;
}

.catalog {
    padding: 0;
    margin: 0 14.6%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.catalog-item {
    width: 390px;
    background: #D9D9D9;
    border-radius: 12px;
    border: 5px solid #000;
    cursor: pointer;
}

.catalog-item:hover {
    border: 5px solid rgba(71, 142, 226, 0.92);
}

.catalog-item h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
}

.catalog-item img {
    display: block;
    margin: 0 auto;
}

.catalog-item p {
    text-align: center;
    margin: 0;
}

.course-navigation-container {
    min-width: 175px;
    width: 13.85%;
    height: 100%;
    border:#4A46EE 1px solid;
    border-top: none;
    margin-left: 9.2%;
}

.course-navigation-container h1 {
    font-size: 18px;
    font-weight: normal;
    display: block;
    padding: 4px 15px 6px 15px;
    margin-bottom: 12px;
    border-bottom:#4A46EE 1px solid;
}

.course-navigation-container ol {
    counter-reset: item;
    margin: 0 3px;
    padding: 0;
}

.course-navigation li {
    display: block;
}

.course-navigation li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
}

.course-navigation-item {
    padding-left: 43px;
    padding-right: 13px;
    background-color: #D9D9D9;
    margin: 6px 0;
    display: block;
    cursor: pointer;
}

.course-navigation #internet-history {
    background-color: #8FE998;
}

.hidden {
    display: none;
}

.subject-courses ul {
    margin: 0;
    margin-top: 99px;
    margin-bottom: 281px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.course-item {
    cursor: pointer;
    width: 56.875%;
    min-width: 380px;
    margin: 0 auto;
    display: flex;
    gap: 27px;
    background-color: #D9D9D9;
    border: #000000 5px solid;
    border-radius: 12px;
}

.course-item:hover {
    border: rgba(71, 142, 226, 0.92) 5px solid;
}

.course-item p {
    font-size: 12px;
    margin-right: 37px;
}

.course-item h2 {
    font-size: 24px;
    font-weight: normal;
}

.course-item img {
    display: block;
    margin: 13px 0;
    align-self: center;
}

#python h2, #js h2 {
    width: 100%;
    font-size: 48px;
    align-self: center;
    text-align: center;
}

.course-theme h2 {
    font-size: 16px;
    font-weight: normal;
    border-bottom: #4A46EE 1px solid;
    padding-top: 12px;
    padding-bottom: 9px;
    padding-left: 9.2%;
    margin-bottom: 42px;
}

.course-theme p {
    margin-left: 9.2%;
    margin-right: 28%;
}

.course-theme h3, .course-theme img, .course-theme ol {
    margin-left: 9.2%;
}

.course-theme h3 {
    font-size: 16px;
}

.course {
    display: flex;
    justify-content: space-between;
}

.course-themes-container {
    width: 76.95%;
}

.course-preview-header {
    background-color: #97C1E8;
    padding: 0 21.6%;
    padding-top: 33px;
    display: flex;
    gap: 7%;
    margin-bottom: 20px;
}

.course-preview-header h1 {
    margin: 0;
    margin-bottom: 18px;
    text-align: left;
}

.course-preview-header img {
    margin-top: 10px;
}

.course-preview {
    font-size: 14px;
}

.course-preview h1, .course-preview h2 {
    font-size: 24px;
    font-weight: 600;
}

.course-preview-header p {
    margin: 0;
    margin-bottom: 28px;
}

.course-preview h2 {
    margin: 0;
    margin-bottom: 15px;
}

.course-preview-content {
    display: flex;
    margin: 0 21.6%;
    gap: 4.4%;
    justify-content: space-between;
}

.course-preview li {
    margin: 13px 0;
}

.course-preview span {
    font-size: 18px;
}

.checked-list {
    list-style-image: url('img/green-checkmark.png');
}

.course-program {
    padding: 0;
    list-style: none;
}

.start-section {
    width: 10.5%;
    min-width: 160px;
}

.start-section a {
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    padding: 12px 0;
    display: block;
    background-color: #33DB2F;
    border-radius: 12px;
}

.start-section a:hover {
    background-color: #32A830;
}

.start-message {
    margin-top: 13px;
    margin-bottom: 140px;
}

.start-section p {
    text-align: center;
}

.next-theme-button {
    width: 20%;
    min-width: 160px;
    text-align: center;
    margin-right: 28%;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 55px;
    padding: 8px 0;
    display: block;
    background-color: #33DB2F;
    border-radius: 12px; 
    cursor: pointer;
}

.next-theme-button:hover {
    background-color: #32A830; 
}

.test-question {
    display: block;
    margin-bottom: 15px;
}

.submit {
    display: block;
    background-color: #33DB2F;
    padding: 9px 29px;
    border: none;
    border-radius: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 16px 0;
    cursor: pointer;
    margin-left: 9.2%;
    margin-right: 28%;
    width: 140px;
}

.submit:hover {
    background-color: #32A830;
}

input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
}

input[type="radio"]:checked {
    background: radial-gradient(#33DB2F, #e7e6e7);
    border: 2px solid rgba(18, 16, 24, 0.8);
}

.test-container {
    margin-left: 9.2%;
    margin-right: 28%;
    margin-top: 51px;
    margin-bottom: 16px;
}

.test-container h4 {
    font-size: 18px;
}

.message {
    display: flex;
    gap: 10px;
}

.message p {
    display: block;
    margin: 0;
    padding: 4px 0;
}

.message img {
    display: block;
    margin: 0;
}

.about img {
    display: block;
    margin: 0 auto;
}

.about div {
    width: 56.9%;
    margin: 0 auto;
    margin-top: 51px;
}